# Q1.. Scrape the details of most viewed videos on YouTube from Wikipedia.
Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos

You need to find following details:

A) Rank
B) Name
C) Artist
D) Upload date
E) Views

In [106]:
#import all required libraries
import selenium
from selenium import webdriver
import pandas as pd
from bs4 import BeautifulSoup
import requests
import time
from selenium.common.exceptions import NoSuchElementException

import warnings
warnings.filterwarnings("ignore")

In [107]:
driver=webdriver.Chrome(r'C:\Users\ankus\Downloads\chromedriver_win32 (1)\chromedriver.exe')

In [108]:
driver=webdriver.Chrome('chromedriver.exe')

In [109]:
driver.get("https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos")

In [111]:
table=[]
for i in driver.find_elements_by_xpath('//table[@class="wikitable sortable jquery-tablesorter"]'):
    table.append(i.text.replace('\n'," "))
table

['Top 30 most-viewed YouTube videos[2] No. Video name Uploader Views (billions) Upload date Note 1. "Baby Shark Dance"[3] Pinkfong Baby Shark - Kids\' Songs & Stories 10.25 June 17, 2016 [B] 2. "Despacito"[6] Luis Fonsi 7.76 January 12, 2017 [C] 3. "Johny Johny Yes Papa"[12] LooLoo Kids 6.20 October 8, 2016 [D] 4. "Shape of You"[13] Ed Sheeran 5.63 January 30, 2017 [E] 5. "See You Again"[15] Wiz Khalifa 5.43 April 6, 2015 [F] 6. "Bath Song"[20] Cocomelon – Nursery Rhymes 5.03 May 2, 2018 [G] 7. "Learning Colors – Colorful Eggs on a Farm"[21] Miroshka TV 4.56 February 27, 2018 [H] 8. "Phonics Song with Two Words"[22] ChuChu TV 4.49 March 6, 2014 [I] 9. "Masha and the Bear – Recipe for Disaster"[23] Get Movies 4.49 January 31, 2012 [J] 10. "Uptown Funk"[24] Mark Ronson 4.47 November 19, 2014 [K] 11. "Gangnam Style"[25] Psy 4.35 July 15, 2012 [L] 12. "Dame Tu Cosita"[30] El Chombo 3.87 April 5, 2018 13. "Wheels on the Bus"[31] Cocomelon – Nursery Rhymes 3.72 May 24, 2018 14. "Sugar"[32] Maroon 5 3.65 January 14, 2015 15. "Roar"[33] Katy Perry 3.53 September 5, 2013 16. "Sorry"[34] Justin Bieber 3.52 October 22, 2015 17. "Counting Stars"[35] OneRepublic 3.52 May 31, 2013 18. "Thinking Out Loud"[36] Ed Sheeran 3.41 October 7, 2014 19. "Axel F"[37] Crazy Frog 3.24 June 16, 2009 20. "Girls Like You"[38] Maroon 5 3.24 May 31, 2018 21. "Faded"[39] Alan Walker 3.24 December 3, 2015 22. "Dark Horse"[40] Katy Perry 3.23 February 20, 2014 23. "Let Her Go"[41] Passenger 3.18 July 25, 2012 24. "Bailando"[42] Enrique Iglesias 3.17 April 11, 2014 25. "Lean On"[43] Major Lazer 3.17 March 22, 2015 26. "Shake It Off"[44] Taylor Swift 3.15 August 18, 2014 27. "Baa Baa Black Sheep"[45] Cocomelon – Nursery Rhymes 3.14 June 25, 2018 28. "Perfect"[46] Ed Sheeran 3.10 November 9, 2017 29. "Waka Waka (This Time for Africa)"[47] Shakira 3.07 June 4, 2010 30. "Mi Gente"[48] J Balvin 3.05 June 29, 2017 As of February 27 , 2022',
 'Progression of the most-viewed video on YouTube Video name Uploader Views* Upload date Date achieved Days held Ref Notes "Baby Shark Dance"[3] Pinkfong Baby Shark - Kids\' Songs & Stories 7,037,500,000 June 17, 2016 November 2, 2020 482 "Despacito"[6] Luis Fonsi 2,993,700,000 January 12, 2017 August 4, 2017 1,186 [58] [C] "See You Again"[15] Wiz Khalifa 2,894,000,000 April 6, 2015 July 10, 2017 25 [16] "Gangnam Style"⁂[25] Psy 803,700,000 July 15, 2012 November 24, 2012 1,689 [26] [L] "Baby"*[59] Justin Bieber 245,400,000 February 19, 2010 July 16, 2010 862 [60] [M] "Bad Romance"[63] Lady Gaga 178,400,000 November 24, 2009 April 14, 2010 93 [64] [N] "Charlie Bit My Finger"‡[67] HDCYT 128,900,000 May 22, 2007 October 25, 2009 171 [68] "Evolution of Dance"[69] Judson Laipply 118,900,000 April 6, 2006 May 2, 2009 176 [70] "Girlfriend"‡[71][72] RCA Records 92,600,000 February 27, 2007 July 17, 2008 289 [73] "Evolution of Dance"[69] Judson Laipply 78,400,000 April 6, 2006 March 15, 2008 124 [74] "Music Is My Hot Hot Sex"‡[75] CLARUSBARTEL72 76,600,000 April 9, 2007 March 1, 2008 14 [76] [O] "Evolution of Dance"*[69] Judson Laipply 10,600,000 April 6, 2006 May 19, 2006 652 [79] [P] "Pokemon Theme Music Video"‡[80] Smosh 4,300,000 November 28, 2005 March 12, 2006 68 [81] [Q] "Myspace – The Movie"‡[84][85] eggtea 2,700,000 January 31, 2006 February 18, 2006 22 [86] "Phony Photo Booth"‡[87] mugenized 3,400,000 December 1, 2005 January 21, 2006 28 [88] [R] "The Chronic of Narnia Rap"‡[89] youtubedude 2,300,000 December 18, 2005 January 9, 2006 12 [90] "Ronaldinho: Touch of Gold"‡*[91] Nikesoccer 255,000 October 21, 2005 October 31, 2005 70 [92] [S] "I/O Brush"‡*[94] larfus 247,000 October 5, 2005 October 29, 2005 2 [95] "Me at the zoo"[96] jawed 1 April 23, 2005 April 23, 2005 1 [97] As of February 27, 2022']

# 2. Scrape the details team India’s international fixtures from bcci.tv.

Url = https://www.bcci.tv/.

You need to find following details:

A) Match title (I.e. 1
st ODI)
B) Series
C) Place
D) Date
E) Time

Note: - From bcci.tv home page you have reach to the international fixture page through code.

In [8]:
#import all required libraries
import selenium
from selenium import webdriver
import pandas as pd
from bs4 import BeautifulSoup
import requests
import time
from selenium.common.exceptions import NoSuchElementException

import warnings
warnings.filterwarnings("ignore")

In [9]:
driver=webdriver.Chrome('chromedriver.exe')

In [10]:
driver.get("https://www.bcci.tv/.")

In [11]:
int_button=driver.find_element_by_xpath('/html/body/nav/div/div[2]/ul[1]/li[2]/a')
int_button.click()

In [12]:
fixtures_tag=driver.find_element_by_xpath('//button[@class="match-btn btn-red d-flex align-items-center justify-content-center mx-auto mt-3"]')
fixtures_tag.click()

In [16]:
Series=[]
for i in driver.find_elements_by_xpath('//span[@class="ng-binding"]'):
    Series.append(i.text)
len(Series)

16

In [31]:
Match=[]
for i in driver.find_elements_by_xpath('//div[@class="fixture-card-bottom"]'):
    Match.append(i.text)
len(Match)

16

In [33]:
Date=[]
for i in driver.find_elements_by_xpath('//h5[@class="ng-binding"]'):
    Date.append(i.text)
len(Date)

16

In [34]:
Time=[]
for i in driver.find_elements_by_xpath('//h5[@class="text-right ng-binding"]'):
    Time.append(i.text)
len(Time)

16

In [35]:
data=pd.DataFrame()
data['Series']=Series
data['Match']=Match
data['Date']=Date
data['Time']=Time
data

,Series,Match,Date,Time
0,SRI LANKA TOUR OF INDIA T20 SERIES 2022,2nd T20I - Himachal Pradesh Cricket Associatio...,26 FEB 2022,7:00 PM IST
1,SRI LANKA TOUR OF INDIA T20 SERIES 2022,3rd T20I - Himachal Pradesh Cricket Associatio...,27 FEB 2022,7:00 PM IST
2,SRI LANKA TOUR OF INDIA TEST SERIES 2022,1st Test - Punjab Cricket Association IS Bindr...,4 MAR 2022,9:30 AM IST
3,ICC WOMENS WORLD CUP 2022,"Bay Oval, Mount Maunganui\nMatch Centre",6 MAR 2022,6:30 AM IST
4,ICC WOMENS WORLD CUP 2022,"Seddon Park, Hamilton\nMatch Centre",10 MAR 2022,6:30 AM IST
5,SRI LANKA TOUR OF INDIA TEST SERIES 2022,"2nd Test - M Chinnaswamy Stadium, Bengaluru\nM...",12 MAR 2022,12:30 PM IST
6,ICC WOMENS WORLD CUP 2022,"Seddon Park, Hamilton\nMatch Centre",12 MAR 2022,6:30 AM IST
7,ICC WOMENS WORLD CUP 2022,"Bay Oval, Mount Maunganui\nMatch Centre",16 MAR 2022,6:30 AM IST
8,ICC WOMENS WORLD CUP 2022,"Eden Park, Auckland\nMatch Centre",19 MAR 2022,6:30 AM IST
9,ICC WOMENS WORLD CUP 2022,"Seddon Park, Hamilton\nMatch Centre",22 MAR 2022,6:30 AM IST
10,ICC WOMENS WORLD CUP 2022,"Hagley Oval, Christchurch\nMatch Centre",28 MAR 2022,6:30 AM IST
11,SOUTH AFRICA TOUR OF INDIA T20 SERIES 2022,"1st T20I - MA Chidambaram Stadium, Chennai\nMa...",9 JUN 2022,7:30 PM IST
12,SOUTH AFRICA TOUR OF INDIA T20 SERIES 2022,"2nd T20I - M Chinnaswamy Stadium, Bengaluru\nM...",12 JUN 2022,7:30 PM IST
13,SOUTH AFRICA TOUR OF INDIA T20 SERIES 2022,3rd T20I - Vidarbha Cricket Association Stadiu...,14 JUN 2022,7:30 PM IST
14,SOUTH AFRICA TOUR OF INDIA T20 SERIES 2022,4th T20I - Saurashtra Cricket Association Stad...,17 JUN 2022,7:30 PM IST
15,SOUTH AFRICA TOUR OF INDIA T20 SERIES 2022,"5th T20I - Arun Jaitley Stadium, Delhi\nMatch ...",19 JUN 2022,7:30 PM IST

# 3. Scrape the details of selenium exception from guru99.com.

Url = https://www.guru99.com/

You need to find following details:

A) Name
B) Description

Note: - From guru99 home page you have to reach to selenium exception handling page through code

In [112]:
#import all required libraries
import selenium
from selenium import webdriver
import pandas as pd
from bs4 import BeautifulSoup
import requests
import time
from selenium.common.exceptions import NoSuchElementException

import warnings
warnings.filterwarnings("ignore")

In [113]:
driver=webdriver.Chrome('chromedriver.exe')

In [114]:
driver.get("https://www.guru99.com/")

In [116]:
#wait for few seconds before this step
search_bar=driver.find_element_by_xpath('//input[@class="gsc-input"]')
search_bar

In [117]:
search_bar.send_keys("selenium exception handling")

In [118]:
search_button=driver.find_element_by_xpath('//button[@class="gsc-search-button gsc-search-button-v2"]')
search_button.click()

In [119]:
#scrool down the webpage little brfore run this line of code
list=driver.find_element_by_xpath('/html/body/div[1]/div/div/div/main/div/article/div/div[1]/div[1]/div[2]/div/div[1]/div/div/div/div[1]/div[6]/div[2]/div/div/div[1]/div[1]/div[1]/div[1]/div/a/b')
list.click()

In [122]:
table=[]
for i in driver.find_elements_by_xpath('/html/body/div[1]/div/div/div/main/div/article/div/div/table/tbody'):
    table.append(i.text)
table

[]

# 4. Scrape the details of State-wise GDP of India from statisticstime.com.

Url = http://statisticstimes.com/

You have to find following details:

A) Rank
B) State
C) GSDP
D) GSDP
E) Share
F) GDP($ billion)

Note: - From statisticstimes home page you have to reach to economy page through code

In [1]:
#import all required libraries
import selenium
from selenium import webdriver
import pandas as pd
from bs4 import BeautifulSoup
import requests
import time
from selenium.common.exceptions import NoSuchElementException

import warnings
warnings.filterwarnings("ignore")

In [2]:
driver=webdriver.Chrome('chromedriver.exe')

In [3]:
driver.get(" http://statisticstimes.com/")

In [14]:
#create empty list
Rank=[]
State=[]
GSDP1=[]
GSDP2=[]
Share=[]
GDP=[]

In [5]:
economy=driver.find_element_by_xpath('/html/body/div[2]/div[1]/div[2]/div[2]/button')
economy.click()

In [6]:
india=driver.find_element_by_xpath('/html/body/div[2]/div[1]/div[2]/div[2]/div/a[3]')
india.click()

In [8]:
#if there is add then close it manually
gdp_tag=driver.find_element_by_xpath('/html/body/div[2]/div[2]/div[2]/ul/li[1]/a')
gdp_tag.click()

In [33]:
for i in driver.find_elements_by_xpath('//td[@class="data1"]'):
    Rank.append(i.text)
Rank=Rank[:33]

In [32]:
for i in driver.find_elements_by_xpath('//td[@class="name"]'):
    State.append(i.text)
State=State[:33]

In [19]:
tag=[]
for i in driver.find_elements_by_xpath('//td[@class="data"]'):
    tag.append(i.text)
tag

['-',
 '13.94%',
 '399.921',
 '-',
 '2,039,074',
 '1,845,853',
 '8.63%',
 '247.629',
 '1,312,929',
 '1,215,307',
 '1,687,818',
 '8.39%',
 '240.726',
 '1,166,817',
 '1,123,982',
 '-',
 '7.96%',
 '228.290',
 '-',
 '1,186,379',
 '1,631,977',
 '7.91%',
 '226.806',
 '1,156,039',
 '1,091,077',
 '1,253,832',
 '5.77%',
 '165.556',
 '793,223',
 '739,525',
 '1,020,989',
 '4.99%',
 '143.179',
 '711,627',
 '677,428',
 '972,782',
 '4.57%',
 '131.083',
 '672,018',
 '621,301',
 '969,604',
 '4.56%',
 '130.791',
 '663,258',
 '612,828',
 '906,672',
 '4.29%',
 '122.977',
 '561,801',
 '522,009',
 '-',
 '4.14%',
 '118.733',
 '-',
 '559,412',
 '856,112',
 '4.10%',
 '117.703',
 '634,408',
 '590,569',
 '831,610',
 '3.89%',
 '111.519',
 '572,240',
 '531,085',
 '611,804',
 '2.81%',
 '80.562',
 '414,977',
 '375,651',
 '574,760',
 '2.79%',
 '79.957',
 '418,868',
 '397,669',
 '521,275',
 '2.58%',
 '74.098',
 '396,499',
 '376,877',
 '-',
 '1.67%',
 '47.982',
 '-',
 '234,048',
 '329,180',
 '1.61%',
 '46.187',
 '243,477',
 '231,182',
 '328,598',
 '1.57%',
 '45.145',
 '240,036',
 '224,986',
 '-',
 '1.30%',
 '37.351',
 '-',
 '193,273',
 '-',
 '0.83%',
 '23.690',
 '-',
 '112,755',
 '165,472',
 '0.81%',
 '23.369',
 '124,403',
 '117,851',
 '80,449',
 '0.39%',
 '11.115',
 '63,408',
 '57,787',
 '55,984',
 '0.26%',
 '7.571',
 '40,583',
 '36,963',
 '-',
 '0.22%',
 '6.397',
 '-',
 '31,192',
 '38,253',
 '0.18%',
 '5.230',
 '25,093',
 '23,013',
 '36,572',
 '0.18%',
 '5.086',
 '26,695',
 '24,682',
 '32,496',
 '0.15%',
 '4.363',
 '20,017',
 '18,722',
 '31,790',
 '0.15%',
 '4.233',
 '20,673',
 '19,300',
 '-',
 '0.14%',
 '4.144',
 '-',
 '17,647',
 '-',
 '0.13%',
 '3.737',
 '-',
 '16,676',
 '26,503',
 '0.12%',
 '3.385',
 '18,797',
 '16,478',
 '-',
 '-',
 '-',
 '-',
 '-',
 '20,351,013',
 '18,886,957',
 '',
 '2,869',
 '14,569,268',
 '14,003,316',
 '-',
 '13.97%',
 '-',
 '1,794,123',
 '1,659,210',
 '8.77%',
 '1,167,776',
 '1,079,894',
 '1,495,758',
 '8.41%',
 '1,015,735',
 '979,159',
 '1,476,983',
 '8.09%',
 '1,035,131',
 '976,948',
 '-',
 '7.92%',
 '-',
 '1,036,859',
 '1,150,711',
 '5.96%',
 '713,376',
 '662,432',
 '916,014',
 '5.06%',
 '630,693',
 '600,433',
 '881,873',
 '4.68%',
 '594,806',
 '549,481',
 '875,429',
 '4.65%',
 '595,605',
 '550,584',
 '827,019',
 '4.41%',
 '496,798',
 '461,903',
 '-',
 '4.24%',
 '-',
 '513,322',
 '779,647',
 '4.22%',
 '568,265',
 '529,739',
 '755,790',
 '3.99%',
 '514,983',
 '477,834',
 '562,710',
 '2.91%',
 '377,276',
 '340,512',
 '517,521',
 '2.83%',
 '374,015',
 '354,830',
 '457,757',
 '2.56%',
 '344,437',
 '327,805',
 '-',
 '1.69%',
 '-',
 '207,193',
 '301,242',
 '1.63%',
 '218,232',
 '204,423',
 '288,041',
 '1.60%',
 '210,837',
 '200,453',
 '-',
 '1.33%',
 '-',
 '173,211',
 '143,063',
 '0.80%',
 '107,171',
 '101,534',
 '-',
 '0.78%',
 '-',
 '91,666',
 '72,181',
 '0.40%',
 '56,810',
 '51,878',
 '50,227',
 '0.27%',
 '35,980',
 '32,830',
 '-',
 '0.22%',
 '-',
 '27,565',
 '34,823',
 '0.19%',
 '22,291',
 '20,534',
 '32,833',
 '0.18%',
 '23,564',
 '21,779',
 '29,148',
 '0.15%',
 '18,549',
 '17,228',
 '28,391',
 '0.15%',
 '17,060',
 '15,972',
 '-',
 '0.15%',
 '-',
 '15,381',
 '-',
 '0.13%',
 '-',
 '15,013',
 '24,424',
 '0.13%',
 '17,797',
 '15,372',
 '-',
 '-',
 '-',
 '-',
 '17,994,301',
 '16,704,645',
 '',
 '12,681,246',
 '12,240,380']

In [24]:
GSDP1=tag[0:161:5]

In [25]:
Share=tag[1:162:5]

In [26]:
GDP=tag[2:163:5]

In [18]:
for i in driver.find_elements_by_xpath('//td[@class="data sorting_1"]'):
    GSDP2.append(i.text)
GSDP2=GSDP2[:33]

In [34]:
data=pd.DataFrame()
data["Rank"]=Rank
data["States"]=State
data["GSDP1"]=GSDP1
data["GSDP2"]=GSDP2
data["Share"]=Share
data["GDP"]=GDP
data

   Rank                     States      GSDP1      GSDP2   Share      GDP
0     1                Maharashtra          -  2,632,792  13.94%  399.921
1     2                 Tamil Nadu  1,845,853  1,630,208   8.63%  247.629
2     3              Uttar Pradesh  1,687,818  1,584,764   8.39%  240.726
3     4                    Gujarat          -  1,502,899   7.96%  228.290
4     5                  Karnataka  1,631,977  1,493,127   7.91%  226.806
5     6                West Bengal  1,253,832  1,089,898   5.77%  165.556
6     7                  Rajasthan  1,020,989    942,586   4.99%  143.179
7     8             Andhra Pradesh    972,782    862,957   4.57%  131.083
8     9                  Telangana    969,604    861,031   4.56%  130.791
9    10             Madhya Pradesh    906,672    809,592   4.29%  122.977
10   11                     Kerala          -    781,653   4.14%  118.733
11   12                      Delhi    856,112    774,870   4.10%  117.703
12   13                    Haryana    831,610    734,163   3.89%  111.519
13   14                      Bihar    611,804    530,363   2.81%   80.562
14   15                     Punjab    574,760    526,376   2.79%   79.957
15   16                     Odisha    521,275    487,805   2.58%   74.098
16   17                      Assam          -    315,881   1.67%   47.982
17   18               Chhattisgarh    329,180    304,063   1.61%   46.187
18   19                  Jharkhand    328,598    297,204   1.57%   45.145
19   20                Uttarakhand          -    245,895   1.30%   37.351
20   21            Jammu & Kashmir          -    155,956   0.83%   23.690
21   22           Himachal Pradesh    165,472    153,845   0.81%   23.369
22   23                        Goa     80,449     73,170   0.39%   11.115
23   24                    Tripura     55,984     49,845   0.26%    7.571
24   25                 Chandigarh          -     42,114   0.22%    6.397
25   26                 Puducherry     38,253     34,433   0.18%    5.230
26   27                  Meghalaya     36,572     33,481   0.18%    5.086
27   28                     Sikkim     32,496     28,723   0.15%    4.363
28   29                    Manipur     31,790     27,870   0.15%    4.233
29   30                   Nagaland          -     27,283   0.14%    4.144
30   31          Arunachal Pradesh          -     24,603   0.13%    3.737
31   32                    Mizoram     26,503     22,287   0.12%    3.385
32   33  Andaman & Nicobar Islands          -          -       -        -

# 5. Scrape the details of trending repositories on Github.com.

Url = https://github.com/
    
You have to find the following details:
    
A) Repository title
B) Repository description
C) Contributors count
D) Language used

Note: - From the home page you have to click on the trending option from Explore menu through code

In [66]:
#import all required libraries
import selenium
from selenium import webdriver
import pandas as pd
from bs4 import BeautifulSoup
import requests
import time
from selenium.common.exceptions import NoSuchElementException

import warnings
warnings.filterwarnings("ignore")

In [67]:
driver=webdriver.Chrome('chromedriver.exe')

In [68]:
driver.get(" https://github.com/")

In [69]:
explore_tag=driver.find_element_by_xpath('/html/body/div[1]/header/div/div[2]/nav/ul/li[4]/details/summary')
explore_tag.click()

In [70]:
trending_tag=driver.find_element_by_xpath('/html/body/div[1]/header/div/div[2]/nav/ul/li[4]/details/div/ul/li[5]/a')
trending_tag.click()

In [71]:
#create empty list
Repository=[]
Repository_description=[]
Contributors=[]
Language=[]

In [72]:
for i in driver.find_elements_by_xpath('//span[@class="text-normal"]'):
    Repository.append(i.text.replace('/'," "))
Repository

['almerico  ',
 'iaddis  ',
 'AppFlowy-IO  ',
 'cat-milk  ',
 'HashLips  ',
 'freqtrade  ',
 'erkexzcx  ',
 'AlexTrushkovsky  ',
 'MHProDev  ',
 'ajax-lives  ',
 'Developer-Y  ',
 'palahsu  ',
 'curated-intel  ',
 'techchipnet  ',
 'ytdl-org  ',
 'github  ',
 'cyprosecurity  ',
 'LimerBoy  ',
 'RunaCapital  ',
 'jseidl  ',
 'Luzhnuy  ',
 'hwdsl2  ',
 'vinta  ',
 'uberhalit  ',
 'sindresorhus  ']

In [73]:
for i in driver.find_elements_by_xpath('//p[@class="col-9 color-fg-muted my-1 pr-4"]'):
    Repository_description.append(i.text.replace('/'," "))
Repository_description

['bombardier',
 'Transistor level NES simulation',
 'AppFlowy is an open-source alternative to Notion. You are in charge of your data and customizations. Built with Flutter and Rust.',
 'Anime Girls Holding Programming Books',
 'HashLips Art Engine is a tool used to create multiple different instances of artworks based on provided layers.',
 'Free, open source crypto trading bot',
 'DOS application to stop pro-Russian aggression websites. Support Ukraine!',
 'DDoS Russian websites to help Ukraine to win this hybrid war',
 'Best DDoS Attack Script Python3, Cyber Attack With 40 Methods',
 'Volunteer DoS tool via HTML + JS',
 'List of Computer Science courses with video lectures.',
 'DDos Ripper a Distributable Denied-of-Service (DDOS) attack server that cuts off targets or surrounding infrastructure in a flood of Internet traffic',
 'Curated Intelligence is working with analysts from around the world to provide useful information to organisations in Ukraine looking for additional free threat intelligence. Slava Ukraini. Glory to Ukraine.',
 "Grab cam shots from target's phone front camera or PC webcam just sending a link.",
 'Command-line program to download videos from YouTube.com and other video sites',
 'Security vulnerability database inclusive of CVEs and GitHub originated security advisories from the world of open source software.',
 'API Security Projecto aims to present unique attack & defense methods in API Security field',
 '💣 Impulse Denial-of-service ToolKit',
 'Awesome list of open-source startup alternatives to well-known SaaS products 🚀',
 'GoldenEye Layer 7 (KeepAlive+NoCache) DoS Test Tool',
 'Scripts to build your own IPsec VPN server, with IPsec L2TP, Cisco IPsec and IKEv2',
 'A curated list of awesome Python frameworks, libraries, software and resources',
 'A small utility to remove frame rate limit, change FOV, add widescreen support and more for Elden Ring',
 '😎 Awesome lists about all kinds of interesting topics']

In [74]:
for i in driver.find_elements_by_xpath('//span[@class="d-inline-block ml-0 mr-3"]'):
    Language.append(i.text)
Language

['HCL',
 'JavaScript',
 'Rust',
 'JavaScript',
 'Python',
 'Go',
 'Python',
 'Python',
 'HTML',
 'Python',
 'HTML',
 'Python',
 'Python',
 'Python',
 'Python',
 'Python',
 'Shell',
 'Python',
 'C#']

# 6. Scrape the details of top 100 songs on billiboard.com.

Url = https:/www.billboard.com/
    
You have to find the following details:
    
A) Song name
B) Artist name
C) Last week rank
D) Peak rank
E) Weeks on board

Note: - From the home page you have to click on the charts option then hot 100-page link through code.

In [1]:
#import all required libraries
import selenium
from selenium import webdriver
import pandas as pd
from bs4 import BeautifulSoup
import requests
import time
from selenium.common.exceptions import NoSuchElementException

import warnings
warnings.filterwarnings("ignore")

In [2]:
driver=webdriver.Chrome('chromedriver.exe')

In [3]:
driver.get("https:/www.billboard.com/")

In [4]:
hot_100=driver.find_element_by_xpath('//a[@class="c-link  lrv-a-unstyle-link lrv-u-color-brand-primary:hover lrv-a-hover-effect lrv-u-whitespace-nowrap lrv-u-color-grey-dark"]')
hot_100.click()

In [5]:
#create empty list
Song=[]
Artist=[]
Last_week_rank=[]
Peak_rank=[]
Weeks_on_board=[]

In [6]:
for i in driver.find_elements_by_xpath('//span[@class="c-label  a-no-trucate a-font-primary-s lrv-u-font-size-14@mobile-max u-line-height-normal@mobile-max u-letter-spacing-0021 lrv-u-display-block a-truncate-ellipsis-2line u-max-width-330 u-max-width-230@tablet-only"]'):
    Artist.append(i.text)
len(Artist)

99

In [7]:
rank=[]
for i in driver.find_elements_by_xpath('//span[@class="c-label  a-font-primary-m lrv-u-padding-tb-050@mobile-max"]'):
    rank.append(i.text)
len(rank)

594

In [8]:
Last_week_rank=rank[0::6]
len(Last_week_rank)

99

In [9]:
Peak_rank=rank[1::6]
len(Peak_rank)

99

In [10]:
Weeks_on_board=rank[2::6]
len(Weeks_on_board)

99

In [11]:
for i in driver.find_elements_by_xpath('//h3[@class="c-title  a-no-trucate a-font-primary-bold-s u-letter-spacing-0021 lrv-u-font-size-18@tablet lrv-u-font-size-16 u-line-height-125 u-line-height-normal@mobile-max a-truncate-ellipsis u-max-width-330 u-max-width-230@tablet-only"]'):
    Song.append(i.text)
len(Song)

99

In [18]:
data=pd.DataFrame()
data["Songs"]=Song
data["Artist"]=Artist
data["Last_week_rank"]=Last_week_rank
data["Peak_rank"]=Peak_rank
data["Weeks_on_board"]=Weeks_on_board
data

,Songs,Artist,Last_week_rank,Peak_rank,Weeks_on_board
0,Heat Waves,Glass Animals,4,2,57
1,Easy On Me,Adele,3,1,19
2,abcdefu,GAYLE,7,4,13
3,Stay,The Kid LAROI & Justin Bieber,5,1,32
4,Super Gremlin,Kodak Black,6,5,15
...,...,...,...,...,...
94,All Too Well (Taylor's Version),Taylor Swift,84,1,14
95,Come Back As A Country Boy,Blake Shelton,89,85,5
96,Iffy,Chris Brown,96,71,5
97,Home Sweet,Russell Dickerson,94,88,5
98,Too Easy,Gunna & Future,92,16,16

# 7. Scrape the details of Data science recruiters from naukri.com.

Url = https://www.naukri.com/
    
You have to find the following details:
    
A) Name
B) Designation
C) Company
D) Skills they hire for
E) Location

Note: - From naukri.com homepage click on the recruiters option and the on the search pane type Data science and
click on search. All this should be done through code

In [1]:
#import all required libraries
import selenium
from selenium import webdriver
import pandas as pd
from bs4 import BeautifulSoup
import requests
import time
from selenium.common.exceptions import NoSuchElementException

import warnings
warnings.filterwarnings("ignore")

In [2]:
driver=webdriver.Chrome('chromedriver.exe')

In [3]:
driver.get("https://www.naukri.com/naukri-dot-com-recruiters")

In [4]:
search_bar=driver.find_element_by_xpath('//input[@class="sugInp"]')
search_bar

In [5]:
search_bar.send_keys("Data Science")

In [6]:
search_button=driver.find_element_by_xpath('//button[@class="fl qsbSrch blueBtn"]')
search_button.click()

In [7]:
Name=[]
for i in driver.find_elements_by_xpath('//span[@class="fl ellipsis"]'):
    Name.append(i.text)
len(Name)

50

In [8]:
Company=[]
for i in driver.find_elements_by_xpath('//a[@class="ellipsis"][2]'):
    Company.append(i.text)
len(Company)

50

In [9]:
Skills=[]
for i in driver.find_elements_by_xpath('//div[@class="hireSec highlightable"]'):
    Skills.append(i.text)
len(Skills)

50

In [10]:
Designation=[]
for i in driver.find_elements_by_xpath('//span[@class="ellipsis clr"]'):
    Designation.append(i.text)
len(Designation)

50

In [12]:
data=pd.DataFrame()
data["Name"]=Name
data["Designation"]=Designation
data["Skills"]=Skills
data["Company"]=Company
data.head()

,Name,Designation,Skills,Company
0,Aakash Harit,HR Manager,"Classic ASP Developer, Internet Marketing Prof...",Data Science Network
1,shravan Kumar Gaddam,Company Recruiter,".Net, Java, Data Science, Linux Administration...",Shore Infotech India Pvt. Ltd
2,MARSIAN Technologies LLP,Company HR,"Data Science, Artificial Intelligence, Machine...",MARSIAN Technologies LLP
3,Anik Agrawal,Company Recruiter,"Mean Stack, javascript, angularjs, mongodb, We...",Enerlytics Software Solutions Pvt Ltd
4,subhas patel,Founder CEO,"Hadoop, Spark, Digital Strategy, Data Architec...",LibraryXProject

# 8. Scrape the details of Highest selling novels.

Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-greycompare/
    
You have to find the following details:
    
A) Book name
B) Author name
C) Volumes sold
D) Publisher
E) Genre

In [ ]:
#import all required libraries
import selenium
from selenium import webdriver
import pandas as pd
from bs4 import BeautifulSoup
import requests
import time
from selenium.common.exceptions import NoSuchElementException

import warnings
warnings.filterwarnings("ignore")

In [2]:
driver=webdriver.Chrome('chromedriver.exe')

In [3]:
driver.get("https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare")

In [4]:
#create list
Book=[]
Author=[]
Volumnes_sold=[]
Publisher=[]
Genre=[]

In [7]:
tag=driver.find_elements_by_xpath('//td[@class="left"]')
len(tag)

500

In [10]:
Tag=[]
for i in tag:
   Tag.append(i.text)
Tag

['1',
 'Da Vinci Code,The',
 'Brown, Dan',
 '5,094,805',
 'Transworld',
 '2',
 'Harry Potter and the Deathly Hallows',
 'Rowling, J.K.',
 '4,475,152',
 'Bloomsbury',
 '3',
 "Harry Potter and the Philosopher's Stone",
 'Rowling, J.K.',
 '4,200,654',
 'Bloomsbury',
 '4',
 'Harry Potter and the Order of the Phoenix',
 'Rowling, J.K.',
 '4,179,479',
 'Bloomsbury',
 '5',
 'Fifty Shades of Grey',
 'James, E. L.',
 '3,758,936',
 'Random House',
 '6',
 'Harry Potter and the Goblet of Fire',
 'Rowling, J.K.',
 '3,583,215',
 'Bloomsbury',
 '7',
 'Harry Potter and the Chamber of Secrets',
 'Rowling, J.K.',
 '3,484,047',
 'Bloomsbury',
 '8',
 'Harry Potter and the Prisoner of Azkaban',
 'Rowling, J.K.',
 '3,377,906',
 'Bloomsbury',
 '9',
 'Angels and Demons',
 'Brown, Dan',
 '3,193,946',
 'Transworld',
 '10',
 "Harry Potter and the Half-blood Prince:Children's Edition",
 'Rowling, J.K.',
 '2,950,264',
 'Bloomsbury',
 '11',
 'Fifty Shades Darker',
 'James, E. L.',
 '2,479,784',
 'Random House',
 '12',
 'Twilight',
 'Meyer, Stephenie',
 '2,315,405',
 'Little, Brown Book',
 '13',
 'Girl with the Dragon Tattoo,The:Millennium Trilogy',
 'Larsson, Stieg',
 '2,233,570',
 'Quercus',
 '14',
 'Fifty Shades Freed',
 'James, E. L.',
 '2,193,928',
 'Random House',
 '15',
 'Lost Symbol,The',
 'Brown, Dan',
 '2,183,031',
 'Transworld',
 '16',
 'New Moon',
 'Meyer, Stephenie',
 '2,152,737',
 'Little, Brown Book',
 '17',
 'Deception Point',
 'Brown, Dan',
 '2,062,145',
 'Transworld',
 '18',
 'Eclipse',
 'Meyer, Stephenie',
 '2,052,876',
 'Little, Brown Book',
 '19',
 'Lovely Bones,The',
 'Sebold, Alice',
 '2,005,598',
 'Pan Macmillan',
 '20',
 'Curious Incident of the Dog in the Night-time,The',
 'Haddon, Mark',
 '1,979,552',
 'Random House',
 '21',
 'Digital Fortress',
 'Brown, Dan',
 '1,928,900',
 'Transworld',
 '22',
 'Short History of Nearly Everything,A',
 'Bryson, Bill',
 '1,852,919',
 'Transworld',
 '23',
 'Girl Who Played with Fire,The:Millennium Trilogy',
 'Larsson, Stieg',
 '1,814,784',
 'Quercus',
 '24',
 'Breaking Dawn',
 'Meyer, Stephenie',
 '1,787,118',
 'Little, Brown Book',
 '25',
 'Very Hungry Caterpillar,The:The Very Hungry Caterpillar',
 'Carle, Eric',
 '1,783,535',
 'Penguin',
 '26',
 'Gruffalo,The',
 'Donaldson, Julia',
 '1,781,269',
 'Pan Macmillan',
 '27',
 "Jamie's 30-Minute Meals",
 'Oliver, Jamie',
 '1,743,266',
 'Penguin',
 '28',
 'Kite Runner,The',
 'Hosseini, Khaled',
 '1,629,119',
 'Bloomsbury',
 '29',
 'One Day',
 'Nicholls, David',
 '1,616,068',
 'Hodder & Stoughton',
 '30',
 'Thousand Splendid Suns,A',
 'Hosseini, Khaled',
 '1,583,992',
 'Bloomsbury',
 '31',
 "Girl Who Kicked the Hornets' Nest,The:Millennium Trilogy",
 'Larsson, Stieg',
 '1,555,135',
 'Quercus',
 '32',
 "Time Traveler's Wife,The",
 'Niffenegger, Audrey',
 '1,546,886',
 'Random House',
 '33',
 'Atonement',
 'McEwan, Ian',
 '1,539,428',
 'Random House',
 '34',
 "Bridget Jones's Diary:A Novel",
 'Fielding, Helen',
 '1,508,205',
 'Pan Macmillan',
 '35',
 'World According to Clarkson,The',
 'Clarkson, Jeremy',
 '1,489,403',
 'Penguin',
 '36',
 "Captain Corelli's Mandolin",
 'Bernieres, Louis de',
 '1,352,318',
 'Random House',
 '37',
 'Sound of Laughter,The',
 'Kay, Peter',
 '1,310,207',
 'Random House',
 '38',
 'Life of Pi',
 'Martel, Yann',
 '1,310,176',
 'Canongate',
 '39',
 'Billy Connolly',
 'Stephenson, Pamela',
 '1,231,957',
 'HarperCollins',
 '40',
 'Child Called It,A',
 'Pelzer, Dave',
 '1,217,712',
 'Orion',
 '41',
 "Gruffalo's Child,The",
 'Donaldson, Julia',
 '1,208,711',
 'Pan Macmillan',
 '42',
 "Angela's Ashes:A Memoir of a Childhood",
 'McCourt, Frank',
 '1,204,058',
 'HarperCollins',
 '43',
 'Birdsong',
 'Faulks, Sebastian',
 '1,184,967',
 'Random House',
 '44',
 'Northern Lights:His Dark Materials S.',
 'Pullman, Philip',
 '1,181,503',
 'Scholastic Ltd.',
 '45',
 'Labyrinth',
 'Mosse, Kate',
 '1,181,093',
 'Orion',
 '46',
 'Harry Potter and the Half-blood Prince',
 'Rowling, J.K.',
 '1,153,181',
 'Bloomsbury',
 '47',
 'Help,The',
 'Stockett, Kathryn',
 '1,132,336',
 'Penguin',
 '48',
 'Man and Boy',
 'Parsons, Tony',
 '1,130,802',
 'HarperCollins',
 '49',
 'Memoirs of a Geisha',
 'Golden, Arthur',
 '1,126,337',
 'Random House',
 '50',
 "No.1 Ladies' Detective Agency,The:No.1 Ladies' Detective Agency S.",
 'McCall Smith, Alexander',
 '1,115,549',
 'Little, Brown Book',
 '51',
 'Island,The',
 'Hislop, Victoria',
 '1,108,328',
 'Headline',
 '52',
 'PS, I Love You',
 'Ahern, Cecelia',
 '1,107,379',
 'HarperCollins',
 '53',
 'You are What You Eat:The Plan That Will Change Your Life',
 'McKeith, Gillian',
 '1,104,403',
 'Penguin',
 '54',
 'Shadow of the Wind,The',
 'Zafon, Carlos Ruiz',
 '1,092,349',
 'Orion',
 '55',
 'Tales of Beedle the Bard,The',
 'Rowling, J.K.',
 '1,090,847',
 'Bloomsbury',
 '56',
 'Broker,The',
 'Grisham, John',
 '1,087,262',
 'Random House',
 '57',
 "Dr. Atkins' New Diet Revolution:The No-hunger, Luxurious Weight Loss P",
 'Atkins, Robert C.',
 '1,054,196',
 'Random House',
 '58',
 'Subtle Knife,The:His Dark Materials S.',
 'Pullman, Philip',
 '1,037,160',
 'Scholastic Ltd.',
 '59',
 'Eats, Shoots and Leaves:The Zero Tolerance Approach to Punctuation',
 'Truss, Lynne',
 '1,023,688',
 'Profile Books Group',
 '60',
 "Delia's How to Cook:(Bk.1)",
 'Smith, Delia',
 '1,015,956',
 'Random House',
 '61',
 'Chocolat',
 'Harris, Joanne',
 '1,009,873',
 'Transworld',
 '62',
 'Boy in the Striped Pyjamas,The',
 'Boyne, John',
 '1,004,414',
 'Random House Childrens Books G',
 '63',
 "My Sister's Keeper",
 'Picoult, Jodi',
 '1,003,780',
 'Hodder & Stoughton',
 '64',
 'Amber Spyglass,The:His Dark Materials S.',
 'Pullman, Philip',
 '1,002,314',
 'Scholastic Ltd.',
 '65',
 'To Kill a Mockingbird',
 'Lee, Harper',
 '998,213',
 'Random House',
 '66',
 'Men are from Mars, Women are from Venus:A Practical Guide for Improvin',
 'Gray, John',
 '992,846',
 'HarperCollins',
 '67',
 'Dear Fatty',
 'French, Dawn',
 '986,753',
 'Random House',
 '68',
 'Short History of Tractors in Ukrainian,A',
 'Lewycka, Marina',
 '986,115',
 'Penguin',
 '69',
 'Hannibal',
 'Harris, Thomas',
 '970,509',
 'Random House',
 '70',
 'Lord of the Rings,The',
 'Tolkien, J. R. R.',
 '967,466',
 'HarperCollins',
 '71',
 'Stupid White Men:...and Other Sorry Excuses for the State of the Natio',
 'Moore, Michael',
 '963,353',
 'Penguin',
 '72',
 'Interpretation of Murder,The',
 'Rubenfeld, Jed',
 '962,515',
 'Headline',
 '73',
 'Sharon Osbourne Extreme:My Autobiography',
 'Osbourne, Sharon',
 '959,496',
 'Little, Brown Book',
 '74',
 'Alchemist,The:A Fable About Following Your Dream',
 'Coelho, Paulo',
 '956,114',
 'HarperCollins',
 '75',
 "At My Mother's Knee ...:and Other Low Joints",
 "O'Grady, Paul",
 '945,640',
 'Transworld',
 '76',
 'Notes from a Small Island',
 'Bryson, Bill',
 '931,312',
 'Transworld',
 '77',
 'Return of the Naked Chef,The',
 'Oliver, Jamie',
 '925,425',
 'Penguin',
 '78',
 'Bridget Jones: The Edge of Reason',
 'Fielding, Helen',
 '924,695',
 'Pan Macmillan',
 '79',
 "Jamie's Italy",
 'Oliver, Jamie',
 '906,968',
 'Penguin',
 '80',
 'I Can Make You Thin',
 'McKenna, Paul',
 '905,086',
 'Transworld',
 '81',
 'Down Under',
 'Bryson, Bill',
 '890,847',
 'Transworld',
 '82',
 'Summons,The',
 'Grisham, John',
 '869,671',
 'Random House',
 '83',
 'Small Island',
 'Levy, Andrea',
 '869,659',
 'Headline',
 '84',
 'Nigella Express',
 'Lawson, Nigella',
 '862,602',
 'Random House',
 '85',
 'Brick Lane',
 'Ali, Monica',
 '856,540',
 'Transworld',
 '86',
 "Memory Keeper's Daughter,The",
 'Edwards, Kim',
 '845,858',
 'Penguin',
 '87',
 'Room on the Broom',
 'Donaldson, Julia',
 '842,535',
 'Pan Macmillan',
 '88',
 'About a Boy',
 'Hornby, Nick',
 '828,215',
 'Penguin',
 '89',
 'My Booky Wook',
 'Brand, Russell',
 '820,563',
 'Hodder & Stoughton',
 '90',
 'God Delusion,The',
 'Dawkins, Richard',
 '816,907',
 'Transworld',
 '91',
 '"Beano" Annual,The',
 '0',
 '816,585',
 'D.C. Thomson',
 '92',
 'White Teeth',
 'Smith, Zadie',
 '815,586',
 'Penguin',
 '93',
 'House at Riverton,The',
 'Morton, Kate',
 '814,370',
 'Pan Macmillan',
 '94',
 'Book Thief,The',
 'Zusak, Markus',
 '809,641',
 'Transworld',
 '95',
 'Nights of Rain and Stars',
 'Binchy, Maeve',
 '808,900',
 'Orion',
 '96',
 'Ghost,The',
 'Harris, Robert',
 '807,311',
 'Random House',
 '97',
 'Happy Days with the Naked Chef',
 'Oliver, Jamie',
 '794,201',
 'Penguin',
 '98',
 'Hunger Games,The:Hunger Games Trilogy',
 'Collins, Suzanne',
 '792,187',
 'Scholastic Ltd.',
 '99',
 "Lost Boy,The:A Foster Child's Search for the Love of a Family",
 'Pelzer, Dave',
 '791,507',
 'Orion',
 '100',
 "Jamie's Ministry of Food:Anyone Can Learn to Cook in 24 Hours",
 'Oliver, Jamie',
 '791,095',
 'Penguin']

In [12]:
Book=Tag[1::5]
len(Book)

100

In [14]:
Author=Tag[2::5]
len(Author)

100

In [15]:
Volumes_sold=Tag[3::5]
len(Volumes_sold)

100

In [16]:
Publisher=Tag[4::5]
len(Publisher)

100

In [24]:
genre_tag=driver.find_elements_by_xpath('//td[@class="last left"]')
for i in genre_tag:
    Genre.append(i.text)
len(Genre)

100

In [26]:
data=pd.DataFrame()
data["Book_name"]=Book
data["Author_name"]=Author
data["Volumnes_sold"]=Volumes_sold
data["Publisher"]=Publisher
data["Genre"]=Genre
data

,Book_name,Author_name,Volumnes_sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

# 9. Scrape the details most watched tv series of all time from imdb.com.

Url = https://www.imdb.com/list/ls095964455/
    
You have to find the following details:
    
A) Name
B) Year span
C) Genre
D) Run time
E) Ratings
F) Votes

In [1]:
#import all required libraries
import selenium
from selenium import webdriver
import pandas as pd
from bs4 import BeautifulSoup
import requests
import time
from selenium.common.exceptions import NoSuchElementException

import warnings
warnings.filterwarnings("ignore")

In [2]:
driver=webdriver.Chrome('chromedriver.exe')

In [3]:
driver.get(" https://www.imdb.com/list/ls095964455/")

In [4]:
#create list
Name=[]
Genre=[]
Run_time=[]
Ratings=[]
Votes=[]

In [5]:
name_tag=driver.find_elements_by_xpath('//h3[@class="lister-item-header"]')
len(name_tag)

100

In [6]:
for i in name_tag:
    Name.append(i.text)
Name

['1. Game of Thrones (2011–2019)',
 '2. Stranger Things (2016– )',
 '3. The Walking Dead (2010–2022)',
 '4. 13 Reasons Why (2017–2020)',
 '5. The 100 (2014–2020)',
 '6. Orange Is the New Black (2013–2019)',
 '7. Riverdale (2017– )',
 "8. Grey's Anatomy (2005– )",
 '9. The Flash (2014– )',
 '10. Arrow (2012–2020)',
 '11. Money Heist (2017–2021)',
 '12. The Big Bang Theory (2007–2019)',
 '13. Black Mirror (2011–2019)',
 '14. Sherlock (2010–2017)',
 '15. Vikings (2013–2020)',
 '16. Pretty Little Liars (2010–2017)',
 '17. The Vampire Diaries (2009–2017)',
 '18. American Horror Story (2011– )',
 '19. Breaking Bad (2008–2013)',
 '20. Lucifer (2016–2021)',
 '21. Supernatural (2005–2020)',
 '22. Prison Break (2005–2017)',
 '23. How to Get Away with Murder (2014–2020)',
 '24. Teen Wolf (2011–2017)',
 '25. The Simpsons (1989– )',
 '26. Once Upon a Time (2011–2018)',
 '27. Narcos (2015–2017)',
 '28. Daredevil (2015–2018)',
 '29. Friends (1994–2004)',
 '30. How I Met Your Mother (2005–2014)',
 '31. Suits (2011–2019)',
 '32. Mr. Robot (2015–2019)',
 '33. The Originals (2013–2018)',
 '34. Supergirl (2015–2021)',
 '35. Gossip Girl (2007–2012)',
 '36. Sense8 (2015–2018)',
 '37. Gotham (2014–2019)',
 '38. Westworld (2016– )',
 '39. Jessica Jones (2015–2019)',
 '40. Modern Family (2009–2020)',
 '41. Rick and Morty (2013– )',
 '42. Shadowhunters (2016–2019)',
 '43. The End of the F***ing World (2017–2019)',
 '44. House of Cards (2013–2018)',
 '45. Dark (2017–2020)',
 '46. Elite (2018– )',
 '47. Sex Education (2019– )',
 '48. Shameless (2011–2021)',
 '49. New Girl (2011–2018)',
 '50. Agents of S.H.I.E.L.D. (2013–2020)',
 '51. You (2018– )',
 '52. Dexter (2006–2013)',
 '53. Fear the Walking Dead (2015– )',
 '54. Family Guy (1999– )',
 '55. The Blacklist (2013– )',
 '56. Lost (2004–2010)',
 '57. Peaky Blinders (2013–2022)',
 '58. House (2004–2012)',
 '59. Quantico (2015–2018)',
 '60. Orphan Black (2013–2017)',
 '61. Homeland (2011–2020)',
 '62. Blindspot (2015–2020)',
 "63. DC's Legends of Tomorrow (2016– )",
 "64. The Handmaid's Tale (2017– )",
 '65. Chilling Adventures of Sabrina (2018–2020)',
 '66. The Good Doctor (2017– )',
 '67. Jane the Virgin (2014–2019)',
 '68. Glee (2009–2015)',
 '69. South Park (1997– )',
 '70. Brooklyn Nine-Nine (2013–2021)',
 '71. Under the Dome (2013–2015)',
 '72. The Umbrella Academy (2019– )',
 '73. True Detective (2014–2019)',
 '74. The OA (2016–2019)',
 '75. Desperate Housewives (2004–2012)',
 '76. Better Call Saul (2015–2022)',
 '77. Bates Motel (2013–2017)',
 '78. The Punisher (2017–2019)',
 '79. Atypical (2017–2021)',
 '80. Dynasty (2017– )',
 '81. This Is Us (2016–2022)',
 '82. The Good Place (2016–2020)',
 '83. Iron Fist (2017–2018)',
 '84. The Rain (2018–2020)',
 '85. Mindhunter (2017–2019)',
 '86. Revenge (2011–2015)',
 '87. Luke Cage (2016–2018)',
 '88. Scandal (2012–2018)',
 '89. The Defenders (2017)',
 '90. Big Little Lies (2017–2019)',
 '91. Insatiable (2018–2019)',
 '92. The Mentalist (2008–2015)',
 '93. The Crown (2016– )',
 '94. Chernobyl (2019)',
 '95. iZombie (2015–2019)',
 '96. Reign (2013–2017)',
 '97. A Series of Unfortunate Events (2017–2019)',
 '98. Criminal Minds (2005–2020)',
 '99. Scream: The TV Series (2015–2019)',
 '100. The Haunting of Hill House (2018)']

In [7]:
genre_tag=driver.find_elements_by_xpath('//span[@class="genre"]')
len(genre_tag)

100

In [8]:
for i in genre_tag:
    Genre.append(i.text)
Genre

['Action, Adventure, Drama',
 'Drama, Fantasy, Horror',
 'Drama, Horror, Thriller',
 'Drama, Mystery, Thriller',
 'Drama, Mystery, Sci-Fi',
 'Comedy, Crime, Drama',
 'Crime, Drama, Mystery',
 'Drama, Romance',
 'Action, Adventure, Drama',
 'Action, Adventure, Crime',
 'Action, Crime, Drama',
 'Comedy, Romance',
 'Drama, Sci-Fi, Thriller',
 'Crime, Drama, Mystery',
 'Action, Adventure, Drama',
 'Drama, Mystery, Romance',
 'Drama, Fantasy, Horror',
 'Drama, Horror, Thriller',
 'Crime, Drama, Thriller',
 'Crime, Drama, Fantasy',
 'Drama, Fantasy, Horror',
 'Action, Crime, Drama',
 'Crime, Drama, Mystery',
 'Action, Drama, Fantasy',
 'Animation, Comedy',
 'Adventure, Fantasy, Romance',
 'Biography, Crime, Drama',
 'Action, Crime, Drama',
 'Comedy, Romance',
 'Comedy, Romance',
 'Comedy, Drama',
 'Crime, Drama, Thriller',
 'Drama, Fantasy, Horror',
 'Action, Adventure, Drama',
 'Drama, Romance',
 'Drama, Mystery, Sci-Fi',
 'Action, Crime, Drama',
 'Drama, Mystery, Sci-Fi',
 'Action, Crime, Drama',
 'Comedy, Drama, Romance',
 'Animation, Adventure, Comedy',
 'Action, Drama, Fantasy',
 'Adventure, Comedy, Crime',
 'Drama',
 'Crime, Drama, Mystery',
 'Crime, Drama, Thriller',
 'Comedy, Drama',
 'Comedy, Drama',
 'Comedy, Romance',
 'Action, Adventure, Drama',
 'Crime, Drama, Romance',
 'Crime, Drama, Mystery',
 'Drama, Horror, Sci-Fi',
 'Animation, Comedy',
 'Crime, Drama, Mystery',
 'Adventure, Drama, Fantasy',
 'Crime, Drama',
 'Drama, Mystery',
 'Crime, Drama, Mystery',
 'Drama, Sci-Fi, Thriller',
 'Crime, Drama, Mystery',
 'Action, Crime, Drama',
 'Action, Adventure, Drama',
 'Drama, Sci-Fi, Thriller',
 'Drama, Fantasy, Horror',
 'Drama',
 'Comedy',
 'Comedy, Drama, Music',
 'Animation, Comedy',
 'Comedy, Crime',
 'Drama, Mystery, Sci-Fi',
 'Action, Adventure, Comedy',
 'Crime, Drama, Mystery',
 'Drama, Fantasy, Mystery',
 'Comedy, Drama, Mystery',
 'Crime, Drama',
 'Drama, Horror, Mystery',
 'Action, Crime, Drama',
 'Comedy, Drama',
 'Drama',
 'Comedy, Drama, Romance',
 'Comedy, Drama, Fantasy',
 'Action, Adventure, Crime',
 'Drama, Sci-Fi, Thriller',
 'Crime, Drama, Thriller',
 'Drama, Mystery, Thriller',
 'Action, Crime, Drama',
 'Drama, Thriller',
 'Action, Adventure, Crime',
 'Crime, Drama, Mystery',
 'Comedy, Drama, Thriller',
 'Crime, Drama, Mystery',
 'Biography, Drama, History',
 'Drama, History, Thriller',
 'Comedy, Crime, Drama',
 'Drama, Fantasy',
 'Adventure, Comedy, Drama',
 'Crime, Drama, Mystery',
 'Comedy, Crime, Drama',
 'Drama, Horror, Mystery']

In [9]:
time_tag=driver.find_elements_by_xpath('//span[@class="runtime"]')
len(time_tag)

100

In [10]:
for i in time_tag:
    Run_time.append(i.text)
Run_time

['57 min',
 '51 min',
 '44 min',
 '60 min',
 '43 min',
 '59 min',
 '45 min',
 '41 min',
 '43 min',
 '42 min',
 '70 min',
 '22 min',
 '60 min',
 '88 min',
 '44 min',
 '44 min',
 '43 min',
 '60 min',
 '49 min',
 '42 min',
 '44 min',
 '44 min',
 '43 min',
 '41 min',
 '22 min',
 '60 min',
 '49 min',
 '54 min',
 '22 min',
 '22 min',
 '44 min',
 '49 min',
 '45 min',
 '43 min',
 '42 min',
 '60 min',
 '42 min',
 '62 min',
 '56 min',
 '22 min',
 '23 min',
 '42 min',
 '25 min',
 '51 min',
 '60 min',
 '60 min',
 '45 min',
 '46 min',
 '22 min',
 '45 min',
 '45 min',
 '53 min',
 '44 min',
 '22 min',
 '43 min',
 '44 min',
 '60 min',
 '44 min',
 '42 min',
 '44 min',
 '55 min',
 '42 min',
 '42 min',
 '60 min',
 '60 min',
 '41 min',
 '60 min',
 '44 min',
 '22 min',
 '22 min',
 '43 min',
 '60 min',
 '55 min',
 '60 min',
 '45 min',
 '46 min',
 '45 min',
 '53 min',
 '30 min',
 '42 min',
 '45 min',
 '22 min',
 '55 min',
 '45 min',
 '60 min',
 '44 min',
 '55 min',
 '43 min',
 '50 min',
 '60 min',
 '45 min',
 '43 min',
 '58 min',
 '330 min',
 '42 min',
 '42 min',
 '50 min',
 '42 min',
 '45 min',
 '572 min']

In [11]:
ratings_tag=driver.find_elements_by_xpath('//div[@class="ipl-rating-widget"]')
len(ratings_tag)

100

In [12]:
for i in ratings_tag:
    Ratings.append(i.text)
Ratings

['9.2\nRate',
 '8.7\nRate',
 '8.1\nRate',
 '7.5\nRate',
 '7.6\nRate',
 '8\nRate',
 '6.7\nRate',
 '7.5\nRate',
 '7.6\nRate',
 '7.5\nRate',
 '8.2\nRate',
 '8.1\nRate',
 '8.8\nRate',
 '9.1\nRate',
 '8.5\nRate',
 '7.4\nRate',
 '7.7\nRate',
 '8\nRate',
 '9.4\nRate',
 '8.1\nRate',
 '8.4\nRate',
 '8.3\nRate',
 '8.1\nRate',
 '7.6\nRate',
 '8.6\nRate',
 '7.7\nRate',
 '8.8\nRate',
 '8.6\nRate',
 '8.8\nRate',
 '8.3\nRate',
 '8.4\nRate',
 '8.5\nRate',
 '8.2\nRate',
 '6.2\nRate',
 '7.4\nRate',
 '8.3\nRate',
 '7.8\nRate',
 '8.6\nRate',
 '7.9\nRate',
 '8.4\nRate',
 '9.2\nRate',
 '6.6\nRate',
 '8.1\nRate',
 '8.7\nRate',
 '8.8\nRate',
 '7.4\nRate',
 '8.3\nRate',
 '8.5\nRate',
 '7.7\nRate',
 '7.5\nRate',
 '7.7\nRate',
 '8.6\nRate',
 '6.9\nRate',
 '8.1\nRate',
 '8\nRate',
 '8.3\nRate',
 '8.8\nRate',
 '8.7\nRate',
 '6.7\nRate',
 '8.3\nRate',
 '8.3\nRate',
 '7.4\nRate',
 '6.8\nRate',
 '8.4\nRate',
 '7.4\nRate',
 '8.1\nRate',
 '7.8\nRate',
 '6.7\nRate',
 '8.7\nRate',
 '8.4\nRate',
 '6.6\nRate',
 '8\nRate',
 '8.9\nRate',
 '7.8\nRate',
 '7.5\nRate',
 '8.8\nRate',
 '8.1\nRate',
 '8.5\nRate',
 '8.3\nRate',
 '7.3\nRate',
 '8.6\nRate',
 '8.2\nRate',
 '6.4\nRate',
 '6.3\nRate',
 '8.6\nRate',
 '7.8\nRate',
 '7.3\nRate',
 '7.7\nRate',
 '7.2\nRate',
 '8.5\nRate',
 '6.5\nRate',
 '8.1\nRate',
 '8.6\nRate',
 '9.4\nRate',
 '7.8\nRate',
 '7.5\nRate',
 '7.8\nRate',
 '8.1\nRate',
 '7.1\nRate',
 '8.6\nRate']

In [13]:
vote_tag=driver.find_elements_by_xpath('//p[@class="text-muted text-small"]')
len(vote_tag)

300

In [14]:
for i in vote_tag:
    Votes.append(i.text)
Votes=Votes[2::3]
Votes

['Votes: 1,955,706',
 'Votes: 965,609',
 'Votes: 931,518',
 'Votes: 278,927',
 'Votes: 239,110',
 'Votes: 293,018',
 'Votes: 137,112',
 'Votes: 288,165',
 'Votes: 333,174',
 'Votes: 423,403',
 'Votes: 447,260',
 'Votes: 773,885',
 'Votes: 505,779',
 'Votes: 880,103',
 'Votes: 494,613',
 'Votes: 161,510',
 'Votes: 307,136',
 'Votes: 304,978',
 'Votes: 1,672,353',
 'Votes: 304,226',
 'Votes: 423,217',
 'Votes: 511,769',
 'Votes: 144,529',
 'Votes: 140,651',
 'Votes: 390,639',
 'Votes: 218,683',
 'Votes: 398,547',
 'Votes: 409,712',
 'Votes: 936,831',
 'Votes: 654,531',
 'Votes: 390,555',
 'Votes: 368,657',
 'Votes: 129,734',
 'Votes: 120,928',
 'Votes: 167,596',
 'Votes: 150,060',
 'Votes: 222,998',
 'Votes: 467,908',
 'Votes: 206,645',
 'Votes: 402,734',
 'Votes: 462,155',
 'Votes: 59,994',
 'Votes: 173,384',
 'Votes: 490,543',
 'Votes: 346,056',
 'Votes: 68,951',
 'Votes: 251,346',
 'Votes: 226,395',
 'Votes: 212,947',
 'Votes: 211,856',
 'Votes: 220,829',
 'Votes: 706,381',
 'Votes: 124,840',
 'Votes: 323,110',
 'Votes: 232,909',
 'Votes: 531,374',
 'Votes: 456,698',
 'Votes: 443,516',
 'Votes: 59,845',
 'Votes: 107,809',
 'Votes: 332,588',
 'Votes: 71,746',
 'Votes: 101,213',
 'Votes: 212,978',
 'Votes: 88,655',
 'Votes: 85,831',
 'Votes: 46,339',
 'Votes: 144,277',
 'Votes: 354,779',
 'Votes: 285,208',
 'Votes: 104,822',
 'Votes: 196,180',
 'Votes: 538,930',
 'Votes: 100,264',
 'Votes: 124,749',
 'Votes: 380,685',
 'Votes: 104,366',
 'Votes: 214,269',
 'Votes: 81,685',
 'Votes: 20,619',
 'Votes: 127,184',
 'Votes: 143,469',
 'Votes: 125,398',
 'Votes: 35,150',
 'Votes: 261,655',
 'Votes: 118,029',
 'Votes: 125,893',
 'Votes: 71,503',
 'Votes: 101,375',
 'Votes: 184,645',
 'Votes: 26,576',
 'Votes: 177,152',
 'Votes: 187,112',
 'Votes: 656,619',
 'Votes: 65,547',
 'Votes: 47,773',
 'Votes: 58,499',
 'Votes: 185,595',
 'Votes: 39,282',
 'Votes: 221,872']

In [15]:
data=pd.DataFrame()
data["Name"]=Name
data["Genre"]=Genre
data["Ratings"]=Ratings
data["Run_time"]=Run_time
data["Votes"]=Votes
data

,Name,Genre,Ratings,Run_time,Votes
0,1. Game of Thrones (2011–2019),"Action, Adventure, Drama",9.2\nRate,57 min,"Votes: 1,955,706"
1,2. Stranger Things (2016– ),"Drama, Fantasy, Horror",8.7\nRate,51 min,"Votes: 965,609"
2,3. The Walking Dead (2010–2022),"Drama, Horror, Thriller",8.1\nRate,44 min,"Votes: 931,518"
3,4. 13 Reasons Why (2017–2020),"Drama, Mystery, Thriller",7.5\nRate,60 min,"Votes: 278,927"
4,5. The 100 (2014–2020),"Drama, Mystery, Sci-Fi",7.6\nRate,43 min,"Votes: 239,110"
...,...,...,...,...,...
95,96. Reign (2013–2017),"Drama, Fantasy",7.5\nRate,42 min,"Votes: 47,773"
96,97. A Series of Unfortunate Events (2017–2019),"Adventure, Comedy, Drama",7.8\nRate,50 min,"Votes: 58,499"
97,98. Criminal Minds (2005–2020),"Crime, Drama, Mystery",8.1\nRate,42 min,"Votes: 185,595"
98,99. Scream: The TV Series (2015–2019),"Comedy, Crime, Drama",7.1\nRate,45 min,"Votes: 39,282"
99,100. The Haunting of Hill House (2018),"Drama, Horror, Mystery",8.6\nRate,572 min,"Votes: 221,872"

# 10. Details of Datasets from UCI machine learning repositories.

Url = https://archive.ics.uci.edu/
    
You have to find the following details:
    
A) Dataset name
B) Data type
C) Task
D) Attribute type
E) No of instances
F) No of attribute
G) Year

Note: - from the home page you have to go to the ShowAllDataset page through code

In [1]:
#import all required libraries
import selenium
from selenium import webdriver
import pandas as pd
from bs4 import BeautifulSoup
import requests
import time
from selenium.common.exceptions import NoSuchElementException

import warnings
warnings.filterwarnings("ignore")

In [2]:
driver=webdriver.Chrome('chromedriver.exe')

In [3]:
driver.get(" https://archive.ics.uci.edu/")

In [4]:
#create list
Name=[]
Data_type=[]
Task=[]
Attribute_type=[]
Instances=[]
Attribute=[]
Year=[]

In [5]:
all_datasets=driver.find_element_by_xpath('/html/body/table[2]/tbody/tr/td/span/b/a')
all_datasets.click()

In [14]:
tag=[]
for i in driver.find_elements_by_xpath('//p[@class="normal"]'):
    tag.append(i.text)
tag

['Classification (466)\nRegression (151)\nClustering (121)\nOther (56)',
 'Categorical (38)\nNumerical (422)\nMixed (55)',
 'Multivariate (480)\nUnivariate (30)\nSequential (59)\nTime-Series (126)\nText (69)\nDomain-Theory (23)\nOther (21)',
 'Life Sciences (147)\nPhysical Sciences (57)\nCS / Engineering (234)\nSocial Sciences (41)\nBusiness (45)\nGame (12)\nOther (81)',
 'Less than 10 (166)\n10 to 100 (279)\nGreater than 100 (110)',
 'Less than 100 (38)\n100 to 1000 (210)\nGreater than 1000 (339)',
 'Matrix (439)\nNon-Matrix (183)',
 'Table View  List View',
 'Abalone',
 'Multivariate ',
 'Classification ',
 'Categorical, Integer, Real ',
 '4177 ',
 '8 ',
 '1995 ',
 'Adult',
 'Multivariate ',
 'Classification ',
 'Categorical, Integer ',
 '48842 ',
 '14 ',
 '1996 ',
 'Annealing',
 'Multivariate ',
 'Classification ',
 'Categorical, Integer, Real ',
 '798 ',
 '38 ',
 ' ',
 'Anonymous Microsoft Web Data',
 ' ',
 'Recommender-Systems ',
 'Categorical ',
 '37711 ',
 '294 ',
 '1998 ',
 'Arrhythmia',
 'Multivariate ',
 'Classification ',
 'Categorical, Integer, Real ',
 '452 ',
 '279 ',
 '1998 ',
 'Artificial Characters',
 'Multivariate ',
 'Classification ',
 'Categorical, Integer, Real ',
 '6000 ',
 '7 ',
 '1992 ',
 'Audiology (Original)',
 'Multivariate ',
 'Classification ',
 'Categorical ',
 '226 ',
 ' ',
 '1987 ',
 'Audiology (Standardized)',
 'Multivariate ',
 'Classification ',
 'Categorical ',
 '226 ',
 '69 ',
 '1992 ',
 'Auto MPG',
 'Multivariate ',
 'Regression ',
 'Categorical, Real ',
 '398 ',
 '8 ',
 '1993 ',
 'Automobile',
 'Multivariate ',
 'Regression ',
 'Categorical, Integer, Real ',
 '205 ',
 '26 ',
 '1987 ',
 'Badges',
 'Univariate, Text ',
 'Classification ',
 ' ',
 '294 ',
 '1 ',
 '1994 ',
 'Balance Scale',
 'Multivariate ',
 'Classification ',
 'Categorical ',
 '625 ',
 '4 ',
 '1994 ',
 'Balloons',
 'Multivariate ',
 'Classification ',
 'Categorical ',
 '16 ',
 '4 ',
 ' ',
 'Breast Cancer',
 'Multivariate ',
 'Classification ',
 'Categorical ',
 '286 ',
 '9 ',
 '1988 ',
 'Breast Cancer Wisconsin (Original)',
 'Multivariate ',
 'Classification ',
 'Integer ',
 '699 ',
 '10 ',
 '1992 ',
 'Breast Cancer Wisconsin (Prognostic)',
 'Multivariate ',
 'Classification, Regression ',
 'Real ',
 '198 ',
 '34 ',
 '1995 ',
 'Breast Cancer Wisconsin (Diagnostic)',
 'Multivariate ',
 'Classification ',
 'Real ',
 '569 ',
 '32 ',
 '1995 ',
 'Pittsburgh Bridges',
 'Multivariate ',
 'Classification ',
 'Categorical, Integer ',
 '108 ',
 '13 ',
 '1990 ',
 'Car Evaluation',
 'Multivariate ',
 'Classification ',
 'Categorical ',
 '1728 ',
 '6 ',
 '1997 ',
 'Census Income',
 'Multivariate ',
 'Classification ',
 'Categorical, Integer ',
 '48842 ',
 '14 ',
 '1996 ',
 'Chess (King-Rook vs. King-Knight)',
 'Multivariate, Data-Generator ',
 'Classification ',
 'Categorical, Integer ',
 ' ',
 '22 ',
 '1988 ',
 'Chess (King-Rook vs. King-Pawn)',
 'Multivariate ',
 'Classification ',
 'Categorical ',
 '3196 ',
 '36 ',
 '1989 ',
 'Chess (King-Rook vs. King)',
 'Multivariate ',
 'Classification ',
 'Categorical, Integer ',
 '28056 ',
 '6 ',
 '1994 ',
 'Chess (Domain Theories)',
 'Domain-Theory ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 'Bach Chorales',
 'Univariate, Time-Series ',
 ' ',
 'Categorical, Integer ',
 '100 ',
 '6 ',
 ' ',
 'Connect-4',
 'Multivariate, Spatial ',
 'Classification ',
 'Categorical ',
 '67557 ',
 '42 ',
 '1995 ',
 'Credit Approval',
 'Multivariate ',
 'Classification ',
 'Categorical, Integer, Real ',
 '690 ',
 '15 ',
 ' ',
 'Japanese Credit Screening',
 'Multivariate, Domain-Theory ',
 'Classification ',
 'Categorical, Real, Integer ',
 '125 ',
 ' ',
 '1992 ',
 'Computer Hardware',
 'Multivariate ',
 'Regression ',
 'Integer ',
 '209 ',
 '9 ',
 '1987 ',
 'Contraceptive Method Choice',
 'Multivariate ',
 'Classification ',
 'Categorical, Integer ',
 '1473 ',
 '9 ',
 '1997 ',
 'Covertype',
 'Multivariate ',
 'Classification ',
 'Categorical, Integer ',
 '581012 ',
 '54 ',
 '1998 ',
 'Cylinder Bands',
 'Multivariate ',
 'Classification ',
 'Categorical, Integer, Real ',
 '512 ',
 '39 ',
 '1995 ',
 'Dermatology',
 'Multivariate ',
 'Classification ',
 'Categorical, Integer ',
 '366 ',
 '33 ',
 '1998 ',
 'Diabetes',
 'Multivariate, Time-Series ',
 ' ',
 'Categorical, Integer ',
 ' ',
 '20 ',
 ' ',
 'DGP2 - The Second Data Generation Program',
 'Data-Generator ',
 ' ',
 'Real ',
 ' ',
 ' ',
 ' ',
 'Document Understanding',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 '1994 ',
 'EBL Domain Theories',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 'Echocardiogram',
 'Multivariate ',
 'Classification ',
 'Categorical, Integer, Real ',
 '132 ',
 '12 ',
 '1989 ',
 'Ecoli',
 'Multivariate ',
 'Classification ',
 'Real ',
 '336 ',
 '8 ',
 '1996 ',
 'Flags',
 'Multivariate ',
 'Classification ',
 'Categorical, Integer ',
 '194 ',
 '30 ',
 '1990 ',
 'Function Finding',
 ' ',
 'Function-Learning ',
 'Real ',
 '352 ',
 ' ',
 '1990 ',
 'Glass Identification',
 'Multivariate ',
 'Classification ',
 'Real ',
 '214 ',
 '10 ',
 '1987 ',
 "Haberman's Survival",
 'Multivariate ',
 'Classification ',
 'Integer ',
 '306 ',
 '3 ',
 '1999 ',
 'Hayes-Roth',
 'Multivariate ',
 'Classification ',
 'Categorical ',
 '160 ',
 '5 ',
 '1989 ',
 'Heart Disease',
 'Multivariate ',
 'Classification ',
 'Categorical, Integer, Real ',
 '303 ',
 '75 ',
 '1988 ',
 'Hepatitis',
 'Multivariate ',
 'Classification ',
 'Categorical, Integer, Real ',
 '155 ',
 '19 ',
 '1988 ',
 'Horse Colic',
 'Multivariate ',
 'Classification ',
 'Categorical, Integer, Real ',
 '368 ',
 '27 ',
 '1989 ',
 'ICU',
 'Multivariate, Time-Series ',
 ' ',
 'Real ',
 ' ',
 ' ',
 ' ',
 'Image Segmentation',
 'Multivariate ',
 'Classification ',
 'Real ',
 '2310 ',
 '19 ',
 '1990 ',
 'Internet Advertisements',
 'Multivariate ',
 'Classification ',
 'Categorical, Integer, Real ',
 '3279 ',
 '1558 ',
 '1998 ',
 'Ionosphere',
 'Multivariate ',
 'Classification ',
 'Integer, Real ',
 '351 ',
 '34 ',
 '1989 ',
 'Iris',
 'Multivariate ',
 'Classification ',
 'Real ',
 '150 ',
 '4 ',
 '1988 ',
 'ISOLET',
 'Multivariate ',
 'Classification ',
 'Real ',
 '7797 ',
 '617 ',
 '1994 ',
 'Kinship',
 'Relational ',
 'Relational-Learning ',
 'Categorical ',
 '104 ',
 '12 ',
 '1990 ',
 'Labor Relations',
 'Multivariate ',
 ' ',
 'Categorical, Integer, Real ',
 '57 ',
 '16 ',
 '1988 ',
 'LED Display Domain',
 'Multivariate, Data-Generator ',
 'Classification ',
 'Categorical ',
 ' ',
 '7 ',
 '1988 ',
 'Lenses',
 'Multivariate ',
 'Classification ',
 'Categorical ',
 '24 ',
 '4 ',
 '1990 ',
 'Letter Recognition',
 'Multivariate ',
 'Classification ',
 'Integer ',
 '20000 ',
 '16 ',
 '1991 ',
 'Liver Disorders',
 'Multivariate ',
 ' ',
 'Categorical, Integer, Real ',
 '345 ',
 '7 ',
 '1990 ',
 'Logic Theorist',
 'Domain-Theory ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 'Lung Cancer',
 'Multivariate ',
 'Classification ',
 'Integer ',
 '32 ',
 '56 ',
 '1992 ',
 'Lymphography',
 'Multivariate ',
 'Classification ',
 'Categorical ',
 '148 ',
 '18 ',
 '1988 ',
 'Mechanical Analysis',
 'Multivariate ',
 'Classification ',
 'Categorical, Integer, Real ',
 '209 ',
 '8 ',
 '1990 ',
 'Meta-data',
 'Multivariate ',
 'Classification ',
 'Categorical, Integer, Real ',
 '528 ',
 '22 ',
 '1996 ',
 'Mobile Robots',
 'Domain-Theory ',
 ' ',
 'Categorical, Integer, Real ',
 ' ',
 ' ',
 '1995 ',
 'Molecular Biology (Promoter Gene Sequences)',
 'Sequential, Domain-Theory ',
 'Classification ',
 'Categorical ',
 '106 ',
 '58 ',
 '1990 ',
 'Molecular Biology (Protein Secondary Structure)',
 'Sequential ',
 'Classification ',
 'Categorical ',
 '128 ',
 ' ',
 ' ',
 'Molecular Biology (Splice-junction Gene Sequences)',
 'Sequential, Domain-Theory ',
 'Classification ',
 'Categorical ',
 '3190 ',
 '61 ',
 '1992 ',
 "MONK's Problems",
 'Multivariate ',
 'Classification ',
 'Categorical ',
 '432 ',
 '7 ',
 '1992 ',
 'Moral Reasoner',
 'Domain-Theory ',
 ' ',
 ' ',
 '202 ',
 ' ',
 '1994 ',
 'Multiple Features',
 'Multivariate ',
 'Classification ',
 'Integer, Real ',
 '2000 ',
 '649 ',
 ' ',
 'Mushroom',
 'Multivariate ',
 'Classification ',
 'Categorical ',
 '8124 ',
 '22 ',
 '1987 ',
 'Musk (Version 1)',
 'Multivariate ',
 'Classification ',
 'Integer ',
 '476 ',
 '168 ',
 '1994 ',
 'Musk (Version 2)',
 'Multivariate ',
 'Classification ',
 'Integer ',
 '6598 ',
 '168 ',
 '1994 ',
 'Nursery',
 'Multivariate ',
 'Classification ',
 'Categorical ',
 '12960 ',
 '8 ',
 '1997 ',
 'Othello Domain Theory',
 'Domain-Theory ',
 ' ',
 ' ',
 ' ',
 ' ',
 '1991 ',
 'Page Blocks Classification',
 'Multivariate ',
 'Classification ',
 'Integer, Real ',
 '5473 ',
 '10 ',
 '1995 ',
 'Optical Recognition of Handwritten Digits',
 'Multivariate ',
 'Classification ',
 'Integer ',
 '5620 ',
 '64 ',
 '1998 ',
 'Pen-Based Recognition of Handwritten Digits',
 'Multivariate ',
 'Classification ',
 'Integer ',
 '10992 ',
 '16 ',
 '1998 ',
 'Post-Operative Patient',
 'Multivariate ',
 'Classification ',
 'Categorical, Integer ',
 '90 ',
 '8 ',
 '1993 ',
 'Primary Tumor',
 'Multivariate ',
 'Classification ',
 'Categorical ',
 '339 ',
 '17 ',
 '1988 ',
 'Prodigy',
 'Domain-Theory ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 'Qualitative Structure Activity Relationships',
 'Domain-Theory ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 'Quadruped Mammals',
 'Multivariate, Data-Generator ',
 'Classification ',
 'Real ',
 ' ',
 '72 ',
 '1992 ',
 'Servo',
 'Multivariate ',
 'Regression ',
 'Categorical, Integer ',
 '167 ',
 '4 ',
 '1993 ',
 'Shuttle Landing Control',
 'Multivariate ',
 'Classification ',
 'Categorical ',
 '15 ',
 '6 ',
 '1988 ',
 'Solar Flare',
 'Multivariate ',
 'Regression ',
 'Categorical ',
 '1389 ',
 '10 ',
 '1989 ',
 'Soybean (Large)',
 'Multivariate ',
 'Classification ',
 'Categorical ',
 '307 ',
 '35 ',
 '1988 ',
 'Soybean (Small)',
 'Multivariate ',
 'Classification ',
 'Categorical ',
 '47 ',
 '35 ',
 '1987 ',
 'Challenger USA Space Shuttle O-Ring',
 'Multivariate ',
 'Regression ',
 'Integer ',
 '23 ',
 '4 ',
 '1993 ',
 'Low Resolution Spectrometer',
 'Multivariate ',
 'Classification ',
 'Integer, Real ',
 '531 ',
 '102 ',
 '1988 ',
 'Spambase',
 'Multivariate ',
 'Classification ',
 'Integer, Real ',
 '4601 ',
 '57 ',
 '1999 ',
 'SPECT Heart',
 'Multivariate ',
 'Classification ',
 'Categorical ',
 '267 ',
 '22 ',
 '2001 ',
 'SPECTF Heart',
 'Multivariate ',
 'Classification ',
 'Integer ',
 '267 ',
 '44 ',
 '2001 ',
 'Sponge',
 'Multivariate ',
 'Clustering ',
 'Categorical, Integer ',
 '76 ',
 '45 ',
 ' ',
 'Statlog Project',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 '1992 ',
 'Student Loan Relational',
 'Domain-Theory ',
 ' ',
 ' ',
 '1000 ',
 ' ',
 '1993 ',
 'Teaching Assistant Evaluation',
 'Multivariate ',
 'Classification ',
 'Categorical, Integer ',
 '151 ',
 '5 ',
 '1997 ',
 'Tic-Tac-Toe Endgame',
 'Multivariate ',
 'Classification ',
 'Categorical ',
 '958 ',
 '9 ',
 '1991 ',
 'Thyroid Disease',
 'Multivariate, Domain-Theory ',
 'Classification ',
 'Categorical, Real ',
 '7200 ',
 '21 ',
 '1987 ',
 'Trains',
 'Multivariate ',
 'Classification ',
 'Categorical ',
 '10 ',
 '32 ',
 '1994 ',
 'University',
 'Multivariate ',
 'Classification ',
 'Categorical, Integer ',
 '285 ',
 '17 ',
 '1988 ',
 'Congressional Voting Records',
 'Multivariate ',
 'Classification ',
 'Categorical ',
 '435 ',
 '16 ',
 '1987 ',
 'Water Treatment Plant',
 'Multivariate ',
 'Clustering ',
 'Integer, Real ',
 '527 ',
 '38 ',
 '1993 ',
 'Waveform Database Generator (Version 1)',
 'Multivariate, Data-Generator ',
 'Classification ',
 'Real ',
 '5000 ',
 '21 ',
 '1988 ',
 'Waveform Database Generator (Version 2)',
 'Multivariate, Data-Generator ',
 'Classification ',
 'Real ',
 '5000 ',
 '40 ',
 '1988 ',
 'Wine',
 'Multivariate ',
 'Classification ',
 'Integer, Real ',
 '178 ',
 '13 ',
 '1991 ',
 'Yeast',
 'Multivariate ',
 'Classification ',
 'Real ',
 '1484 ',
 '8 ',
 '1996 ',
 'Zoo',
 'Multivariate ',
 'Classification ',
 'Categorical, Integer ',
 '101 ',
 '17 ',
 '1990 ',
 'Undocumented',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 'Twenty Newsgroups',
 'Text ',
 ' ',
 ' ',
 '20000 ',
 ' ',
 '1999 ',
 'Australian Sign Language signs',
 'Multivariate, Time-Series ',
 'Classification ',
 'Categorical, Real ',
 '6650 ',
 '15 ',
 '1999 ',
 'Australian Sign Language signs (High Quality)',
 'Multivariate, Time-Series ',
 'Classification ',
 'Real ',
 '2565 ',
 '22 ',
 '2002 ',
 'US Census Data (1990)',
 'Multivariate ',
 'Clustering ',
 'Categorical ',
 '2458285 ',
 '68 ',
 ' ',
 'Census-Income (KDD)',
 'Multivariate ',
 'Classification ',
 'Categorical, Integer ',
 '299285 ',
 '40 ',
 '2000 ',
 'Coil 1999 Competition Data',
 'Multivariate ',
 ' ',
 'Categorical, Real ',
 '340 ',
 '17 ',
 '1999 ',
 'Corel Image Features',
 'Multivariate ',
 ' ',
 'Real ',
 '68040 ',
 '89 ',
 '1999 ',
 'E. Coli Genes',
 'Relational ',
 ' ',
 ' ',
 ' ',
 ' ',
 '2001 ',
 'EEG Database',
 'Multivariate, Time-Series ',
 ' ',
 'Categorical, Integer, Real ',
 '122 ',
 '4 ',
 '1999 ',
 'El Nino',
 'Spatio-temporal ',
 ' ',
 'Integer, Real ',
 '178080 ',
 '12 ',
 '1999 ',
 'Entree Chicago Recommendation Data',
 'Transactional, Sequential ',
 'Recommender-Systems ',
 'Categorical ',
 '50672 ',
 ' ',
 '2000 ',
 'CMU Face Images',
 'Image ',
 'Classification ',
 'Integer ',
 '640 ',
 ' ',
 '1999 ',
 'Insurance Company Benchmark (COIL 2000)',
 'Multivariate ',
 'Regression, Description ',
 'Categorical, Integer ',
 '9000 ',
 '86 ',
 '2000 ',
 'Internet Usage Data',
 'Multivariate ',
 ' ',
 'Categorical, Integer ',
 '10104 ',
 '72 ',
 '1999 ',
 'IPUMS Census Database',
 'Multivariate ',
 ' ',
 'Categorical, Integer ',
 '256932 ',
 '61 ',
 '1999 ',
 'Japanese Vowels',
 'Multivariate, Time-Series ',
 'Classification ',
 'Real ',
 '640 ',
 '12 ',
 ' ',
 'KDD Cup 1998 Data',
 'Multivariate ',
 'Regression ',
 'Categorical, Integer ',
 '191779 ',
 '481 ',
 '1998 ',
 'KDD Cup 1999 Data',
 'Multivariate ',
 'Classification ',
 'Categorical, Integer ',
 '4000000 ',
 '42 ',
 '1999 ',
 'M. Tuberculosis Genes',
 'Relational ',
 ' ',
 ' ',
 ' ',
 ' ',
 '2001 ',
 'Movie',
 'Multivariate, Relational ',
 ' ',
 ' ',
 '10000 ',
 ' ',
 '1999 ',
 'MSNBC.com Anonymous Web Data',
 'Sequential ',
 ' ',
 'Categorical ',
 '989818 ',
 ' ',
 ' ',
 'NSF Research Award Abstracts 1990-2003',
 'Text ',
 ' ',
 ' ',
 '129000 ',
 ' ',
 '2003 ',
 'Pioneer-1 Mobile Robot Data',
 'Multivariate, Time-Series ',
 ' ',
 'Categorical, Real ',
 ' ',
 ' ',
 '1999 ',
 'Pseudo Periodic Synthetic Time Series',
 'Univariate, Time-Series ',
 ' ',
 ' ',
 '100000 ',
 ' ',
 '1999 ',
 'Reuters-21578 Text Categorization Collection',
 'Text ',
 'Classification ',
 'Categorical ',
 '21578 ',
 '5 ',
 '1997 ',
 'Robot Execution Failures',
 'Multivariate, Time-Series ',
 'Classification ',
 'Integer ',
 '463 ',
 '90 ',
 '1999 ',
 'Synthetic Control Chart Time Series',
 'Time-Series ',
 'Classification, Clustering ',
 'Real ',
 '600 ',
 ' ',
 '1999 ',
 'Syskill and Webert Web Page Ratings',
 'Multivariate, Text ',
 'Classification ',
 'Categorical ',
 '332 ',
 '5 ',
 '1998 ',
 'UNIX User Data',
 'Text, Sequential ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 'Volcanoes on Venus - JARtool experiment',
 'Image ',
 'Classification ',
 ' ',
 ' ',
 ' ',
 ' ',
 'Statlog (Australian Credit Approval)',
 'Multivariate ',
 'Classification ',
 'Categorical, Integer, Real ',
 '690 ',
 '14 ',
 ' ',
 'Statlog (German Credit Data)',
 'Multivariate ',
 'Classification ',
 'Categorical, Integer ',
 '1000 ',
 ...]

In [32]:
Name=tag[8:4362:7]
#Name

In [31]:
Data_types=tag[9:4363:7]
#Data_types

In [30]:
Task=tag[10:4364:7]
#Task

In [26]:
Attribute_type=tag[11:4365:7]
#Attribute_type

In [27]:
Instances=tag[12:4366:7]
#Instances

In [28]:
Attributes=tag[13:4367:7]
#Attributes

In [29]:
Year=tag[14:4368:7]
#Year

In [33]:
data=pd.DataFrame()
data["Name"]=Name
data["Attribute_type"]=Attribute_type
data["Data_types"]=Data_types
data["Task"]=Task
data["Instances"]=Instances
data["Attributes"]=Attributes
data["Year"]=Year

data

,Name,Attribute_type,Data_types,Task,Instances,Attributes,Year
0,Abalone,"Categorical, Integer, Real",Multivariate,Classification,4177,8,1995
1,Adult,"Categorical, Integer",Multivariate,Classification,48842,14,1996
2,Annealing,"Categorical, Integer, Real",Multivariate,Classification,798,38,
3,Anonymous Microsoft Web Data,Categorical,,Recommender-Systems,37711,294,1998
4,Arrhythmia,"Categorical, Integer, Real",Multivariate,Classification,452,279,1998
...,...,...,...,...,...,...,...
617,Influenza outbreak event prediction via Twitte...,"Integer, Real",Multivariate,Classification,75840,525,2020
618,Turkish Music Emotion Dataset,"Integer, Real",Multivariate,Classification,400,50,2020
619,Maternal Health Risk Data Set,,,Classification,1014,7,2020
620,Room Occupancy Estimation,Real,"Multivariate, Time-Series",Classification,10129,16,2021
621,Image Recognition Task Execution Times in Mobi...,Real,Univariate,Regression,4000,2,2021